body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.produto {
    width: 300px;
    margin: 20px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

.produto img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.lojinha {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.produto {
<<<<<<< HEAD
    flex: 0 0 calc(23,23% - 30px); /* Ajuste a largura conforme necessário */
=======
    flex: 0 0 calc(20% - 10px);
>>>>>>> a7dd8212b2674f16af9a8f69bc2d2a9bf82e6e6f
    margin: 1px;
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    text-align: center;
}

#carrinho-icon {
    position: fixed;
    top: 10px;
    right: 0px;
    cursor: all-scroll;
}