body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.produto {
    width: 300px;
    margin: 20px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

.produto img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.lojinha {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.produto {
    flex: 0 0 calc(20% - 10px);
    margin: 1px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 8px;
    text-align: center;
}

#carrinho-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
